# Data Science Tools and Ecosystem

#### **In this notebook, Data Science Tools and Ecosystem are summarized.**

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. NumPy
3. Scikit-learn
4. Pandas

| Data Science Tools | 
|--------------------|
| Jupyter Notebook | 
| RStudio | 
| Apache |

### Below are a few examples of evaluating arithmetic expressions in Python

In [17]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [21]:
# This will convert 200 minutes to hours by diving by 60
minutes=200; 
hours=200/60;
print("200 minutes are", hours, "hours")

200 minutes are 3.3333333333333335 hours

**Objectives:**

- List popular languages for Data Science
- Identify commonly used libraries in Data Science
- Highlight open source tools used for Data Science development environments
- Understand basic arithmetic expressions in Python

## Author 
**Edward Ulises GÃ³mez Padilla**